In [2]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [3]:
train=pd.read_csv('employee_retention_data.csv')

In [13]:
train.describe()

         employee_id    company_id     seniority         salary
count   24702.000000  24702.000000  24702.000000   24702.000000
mean   501604.403530      3.426969     14.127803  138183.345478
std    288909.026101      2.700011      8.089520   76058.184573
min        36.000000      1.000000      1.000000   17000.000000
25%    250133.750000      1.000000      7.000000   79000.000000
50%    500793.000000      2.000000     14.000000  123000.000000
75%    753137.250000      5.000000     21.000000  187000.000000
max    999969.000000     12.000000     99.000000  408000.000000

In [12]:
train.dtypes

employee_id    float64
company_id       int64
dept            object
seniority        int64
salary         float64
join_date       object
quit_date       object
dtype: object

In [11]:
pd.to_datetime(train['join_date'])
pd.to_datetime(train['quit_date'])

0       2015-10-30
1       2014-04-04
2              NaT
3       2013-06-07
4       2014-08-22
5       2013-08-30
6              NaT
7              NaT
8       2015-10-23
9              NaT
10      2015-02-27
11             NaT
12      2013-11-15
13      2015-09-25
14      2014-08-22
15      2015-07-10
16      2013-11-22
17             NaT
18             NaT
19             NaT
20             NaT
21      2013-05-31
22      2015-07-06
23      2014-08-15
24      2014-08-01
25      2013-02-08
26             NaT
27      2012-03-02
28      2013-10-04
29      2014-04-11
           ...
24672   2014-07-07
24673   2015-02-27
24674   2015-06-26
24675   2015-07-10
24676   2013-03-08
24677   2013-05-10
24678   2013-04-19
24679          NaT
24680          NaT
24681          NaT
24682          NaT
24683          NaT
24684   2013-04-19
24685   2015-06-05
24686   2014-04-21
24687   2015-07-10
24688          NaT
24689   2013-08-09
24690   2015-01-23
24691          NaT
24692   2013-04-26
24693          NaT
24694          NaT
24695   2015-06-26
24696   2013-02-01
24697          NaT
24698          NaT
24699   2015-10-23
24700   2015-01-09
24701   2013-12-06
Name: quit_date, Length: 24702, dtype: datetime64[ns]

In [17]:
# create list of unique dates for the table
unique_dates = pd.date_range('2011/01/24', '2015/12/13', freq='D')

In [41]:
unique_dates=DataFrame(unique_dates,columns=['unique_dates'])

In [42]:
unique_dates

     unique_dates
0      2011-01-24
1      2011-01-25
2      2011-01-26
3      2011-01-27
4      2011-01-28
5      2011-01-29
6      2011-01-30
7      2011-01-31
8      2011-02-01
9      2011-02-02
10     2011-02-03
11     2011-02-04
12     2011-02-05
13     2011-02-06
14     2011-02-07
15     2011-02-08
16     2011-02-09
17     2011-02-10
18     2011-02-11
19     2011-02-12
20     2011-02-13
21     2011-02-14
22     2011-02-15
23     2011-02-16
24     2011-02-17
25     2011-02-18
26     2011-02-19
27     2011-02-20
28     2011-02-21
29     2011-02-22
...           ...
1755   2015-11-14
1756   2015-11-15
1757   2015-11-16
1758   2015-11-17
1759   2015-11-18
1760   2015-11-19
1761   2015-11-20
1762   2015-11-21
1763   2015-11-22
1764   2015-11-23
1765   2015-11-24
1766   2015-11-25
1767   2015-11-26
1768   2015-11-27
1769   2015-11-28
1770   2015-11-29
1771   2015-11-30
1772   2015-12-01
1773   2015-12-02
1774   2015-12-03
1775   2015-12-04
1776   2015-12-05
1777   2015-12-06
1778   2015-12-07
1779   2015-12-08
1780   2015-12-09
1781   2015-12-10
1782   2015-12-11
1783   2015-12-12
1784   2015-12-13

[1785 rows x 1 columns]

In [21]:
#ceate list of unique companies
unique_companies=train['company_id'].unique()

In [39]:
unique_companies=sorted(unique_companies)
unique_companies=DataFrame(unique_companies,columns=['unique_companies'])

In [40]:
unique_companies

    unique_companies
0                  1
1                  2
2                  3
3                  4
4                  5
5                  6
6                  7
7                  8
8                  9
9                 10
10                11
11                12

In [44]:
unique_companies['Temp']=1
unique_dates['Temp']=1

In [46]:
headcount = pd.merge(unique_companies, unique_dates, on=['Temp'])

In [48]:
headcount = headcount.drop('Temp', axis=1)

In [131]:
#num of people join/quit each day/company
joingrouped=train.groupby(['company_id','join_date']).agg({'join_date':{'join_date':'count'}}).reset_index()
quitgrouped=train.groupby(['company_id','quit_date']).agg({'quit_date':{'quit_date':'count'}}).reset_index()

/Users/zhumary/anaconda3/lib/python3.6/site-packages/pandas/core/groupby.py:4036: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

In [144]:
joingrouped.columns=['company_id','join_date','joincount']

In [145]:
joingrouped

      company_id   join_date  joincount
0              1  2011-01-24         25
1              1  2011-01-25          2
2              1  2011-01-26          2
3              1  2011-01-31         30
4              1  2011-02-01          7
5              1  2011-02-02          1
6              1  2011-02-07         32
7              1  2011-02-08          3
8              1  2011-02-09          2
9              1  2011-02-14         25
10             1  2011-02-15          1
11             1  2011-02-16          2
12             1  2011-02-22         24
13             1  2011-02-23          3
14             1  2011-02-28         19
15             1  2011-03-02          3
16             1  2011-03-03          1
17             1  2011-03-07         28
18             1  2011-03-09          1
19             1  2011-03-10          1
20             1  2011-03-14         19
21             1  2011-03-15          3
22             1  2011-03-16          2
23             1  2011-03-17          1
24             1  2011-03-21         31
25             1  2011-03-22          2
26             1  2011-03-23          2
27             1  2011-03-28         29
28             1  2011-03-29          4
29             1  2011-04-04         28
...          ...         ...        ...
5100          11  2013-02-05          1
5101          11  2013-02-25          1
5102          11  2013-03-04          1
5103          11  2013-09-12          1
5104          11  2014-02-10          1
5105          11  2014-05-05          1
5106          11  2014-06-16          1
5107          11  2014-10-07          1
5108          12  2011-03-14          1
5109          12  2011-05-16          1
5110          12  2011-06-06          1
5111          12  2011-06-20          1
5112          12  2011-10-13          1
5113          12  2012-03-12          1
5114          12  2012-07-02          1
5115          12  2012-11-12          1
5116          12  2012-11-26          1
5117          12  2012-12-06          1
5118          12  2013-03-04          1
5119          12  2013-03-11          1
5120          12  2013-04-15          1
5121          12  2013-07-15          1
5122          12  2013-07-29          1
5123          12  2013-12-17          1
5124          12  2014-01-13          2
5125          12  2014-05-19          2
5126          12  2014-10-13          1
5127          12  2015-03-23          1
5128          12  2015-07-06          1
5129          12  2015-07-27          1

[5130 rows x 3 columns]

In [141]:
headcount=headcount.rename(columns={'unique_companies':'company_id','unique_dates':'join_date'})

In [146]:
finalcount=pd.merge(headcount,joingrouped,how="outer",on=['company_id','join_date'])

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'